<form class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Post</h3>
    </div>
  </div>
  <div class="panel-body">
    <div class="dropdown">
      <select class="form-control" id="children" (change)="toggleCategory($event)" [(ngModel)]="this.category"  name="children">
        <option>electrical</option>
        <option>scenery</option>
        <option>material</option>
        <option>etc</option>
      </select>
    </div>
    
    <div *ngIf="this.showSecond">
      <div class="dropdown">
        <select class="form-control" id="subcategories" (change)="toggleCategory($event)" [(ngModel)]="this.subCategory" name="whatever">
          <ng-container >
            <option *ngFor="let option of this.currentOptions">{{option}}</option>
          </ng-container>
        </select>
      </div>
    </div>

    <div *ngIf="this.showThird">
        <div class="dropdown">
          <select class="form-control" id="options"  (change)="toggleCategory($event)" [(ngModel)]="this.item" name="this.thirdOptions">
            <ng-container>
              <option *ngFor="let option of this.thirdOptions">{{option}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      
    
    <div *ngIf="this.showFourth" class="dropdown">
        <select class="form-control" id="subOptions"   name="this.subItem" (change)="toggleCategory($event)" >
            <ng-container>
              <option *ngFor="let option of this.fourthOptions">{{option}}</option>
            </ng-container>
          </select>
        </div>
       
        <div *ngIf="this.showFifth" class="dropdown">
            <select class="form-control" id="optionSpecifics"   name="this.fifthOptions">
                <ng-container>
                  <option *ngFor="let option of this.fifthOptions">{{option}}</option>
                </ng-container>
              </select>
      
          <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Title your post" name="title" [(ngModel)]="this.title"></textarea>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Describe your item" [(ngModel)]="this.description" name="description"></textarea>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Enter the date this needs to get picekd up" [(ngModel)]="this.deathDate"
          name="deathDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Tag your post?" [(ngModel)]="this.specifics" name="specifics"></textarea>
      </mat-form-field>
      <button mat-raised-button (click)="addPost()">Publish it.</button>
    </div>
  </div>