<mat-toolbar color="primary">
  <span class="fill-remaining-space"></span>
    <span>Loadout!</span>
  <span class="fill-remaining-space"></span>
  
  
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
  
    <a mat-button [routerLink]="['/']">home</a>
  
    <a mat-button [routerLink]="['/post']">post</a>
    <a *ngIf= "authService.loggedIn()" mat-button [routerLink]="['/dashboard']">dashboard</a>
  
    <a *ngIf= "authService.loggedIn()" mat-button [routerLink]="['/profile']">profile</a>
    <a *ngIf= "!authService.loggedIn()"mat-button [routerLink]="['/login']">login</a>
  
    <a mat-button [routerLink]="['/register']">register</a>
    <a mat-button hre="#" (click) = "onLogoutClick()">Logout</a>
  
  </div>
 

  
  </mat-toolbar>

 